{{ partial "header.html" . }}

<main class="Site-content">
<section class="section">
  <div class="container">

    <h1 class="title">
      {{ .Title }}
    </h1>
    <span>Zuletzt geändert: {{ .Date.Format "02.01.2006 15:04" }}</span><br><br>

    <div class="content">
      {{.Content}}
    </div>

  </div>
</section>
</main>

{{ partial "footer.html" . }}
