<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
{{ $title := .Title }}
{{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $title }}"
    />
{{ end }}
    {{ partial "head_includes.html" . }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>

  <body class="Site">

<header>
  <section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <b>Gute Software</b>
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="/software">
              Software
            </a>
            <a class="navbar-item" href="/checkliste">
              Checkliste
            </a>
            <a class="navbar-item" href="/blog">
              Blog
            </a>
          </div>
        </div>
      </nav>


        <div class="columns is-centered mgt-medium">
          <div class='column is-narrow'>
            <div class="notification is-warning is-light">
              <button class="delete"></button>
              <b>Status</b>: Das Projekt befindet sich noch in Entwicklung.
              <br><br>
              Du kannst auf <a href="https://codeberg.org/davidak/gute-software">Codeberg</a> dazu beitragen!
            </div>
          </div>
        </div>

    </div>
  </section>
</header>
