{{ partial "header.html" . }}

<main class="Site-content">
<section class="section">
  <div class="container">

    <h1 class="title">
      Gute Software
    </h1>
    <h2 class="subtitle">
      Niemand sollte schlechte Software benutzen müssen
    </h2>

    <p>Wir haben Gütesiegel entwickelt, um Software-Projekte einfach bewerten zu können.</p>

<br>


    <div class="columns">
      <div class="column">
        <div class="box has-background-link-light">
        <h3 class="title is-3 has-text-centered">Freie Software</h3>
        <div class="content">
          <p>Bei Freier Software erlaubt die Lizenz dem Benutzer
          <ul>
            <li>die Verwendung für jeden Zweck</li>
            <li>die Funktionsweise anhand des Codes nachzuvollziehen</li>
            <li>das Teilen der Software mit anderen</li>
            <li>das Verbessern der Software</li>
          </ul>
          </p>
          <p>Weitere Informationen und eine Liste kompatibler Lizenzen findest du bei der <a href="https://fsfe.org/freesoftware/freesoftware.de.html">FSFE</a>.</p>
        </div>
        </div>
      </div>

      <div class="column">
        <div class="box has-background-danger-light">
        	<h3 class="title is-3 has-text-centered">Gemeinschaft</h3>
        	<div class="content">
        	   <p>Die Software wird von einer offenen Gemeinschaft aus Entwicklern und Benutzern entwickelt. Jeder kann sich mit seinen Fähigkeiten einbringen.</p>
        	   <p>Mehr Informationon zu den Kriterien <a href="/gemeinschaftsprojekt">hier</a>.</p>
        	</div>
        </div>
      </div>

      <div class="column">
        <div class="box has-background-success-light">
        	<h3 class="title is-3 has-text-centered">Nachhaltigkeit</h3>
          <div class="content">
        	   <p>Die Entwicklung der Software wird durch seine Benutzer finanziert. Dadurch bleibt das Projekt unabhängig von den Interessen Dritter.</p>
        	   <p>Mehr Informationon zu den Kriterien <a href="/nachhaltiges-software-projekt">hier</a>.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="content">
      {{.Content}}
    </div>

  </div>
</section>
</main>

{{ partial "footer.html" . }}
